<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="img/favicon.ico"/>
  <title>game</title>
  <script>
    const roomName = "<%= roomName %>";
    const playername = "<%= playername %>";
    const url = "<%= url %>";
  </script>
  <link href="css/styles.css" rel="stylesheet" />
  <link href="css/balloon_style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="js/script.js"></script>
  <script>
  $(document).ready(function(){
    $(document).click(function(){
        var y = $("#<%= playername %>").position();
        var x = y.left/$(window).width() * 100;
        if(x<86 && $("#<%= playername %>").length && !$("#scoretable").length){
            x=x+1;
            $("#<%= playername %>").animate({left: x+'%'},90);
            socket.emit('server-move-player', roomName, playername,x);
            socket.emit('event-mesh', roomName, playername);
          }
    }); 
  });
  </script>
</head>
<body>
   <h1 id="myElem" class="wait-message">Wait for admin to start the game</h1>
    <div id="main"></div>
    <% if (locals.gamestarted) { %>
    <table class="table">
      <tr>
          <th>Player</th>
          <th>Score</th>
      </tr>
  <% Object.keys(score).forEach(name => { %>
      <tr>
          <td><%= name %></td>
          <td><%= score[name] %></td>
      </tr>
    <% }) %>
  </table>
  <% } %> 
  <div id="showData" class="leaderboard animate__animated animate__fadeInDown"></div>
  <img src="img/finish.png" class="flag" alt="flag">
	<form id="send-container">
  </form>
<!-- partial -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>